#block-circa-cartblock-cartblock {
	position: absolute;
	top: -227px;
	left: 682px;
	z-index: 10;
	margin: 0;
}


#block-circa-cartblock-cartblock .item-count {
	padding: 3px 10px;
	border: 1px solid #C9C9C9;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px; /* future proofing */
	-khtml-border-radius: 2px; /* for old Konqueror browsers */
	line-height: 1em;
}